#about
  h1=t('about.title.what\'s.this')
  p=t('about.body.what\'s.this')
  h1=t('about.title.goal')
  ul
    li=t('about.body.goal.1')
    li=t('about.body.goal.2')
  h1=t('about.title.what.information')
  p=t('about.body.information')
