.filters.form-inline(role='form')
  .form-group
    label.sr-only(for='search')=t('form.label.search')
    .input-group
      .icon-addon
        input(type='text', placeholder=t('form.label.search'), id='search', value='{{ search }}').form-control
        label.glyphicon.glyphicon-search
  .form-group.dropdown
    button.btn.btn-link.filter(type='button', on-click='countryClick')=t('filters.label.country')
  .form-group.dropdown
    button.btn.btn-link.filter(type='button')=t('filters.label.technology')
  .form-group.dropdown
    button.btn.btn-link.filter(type='button')=t('filters.label.event')
  .form-group.dropdown
    button.btn.btn-link.filter(type='button')=t('filters.label.tags')
  .form-group.dropdown
    button.btn.btn-link.filter(type='button')=t('filters.label.community')
  .btn-upload-container.pull-right