section.row.applications
  | {{#applications}}
  .col-xs-3
    article.application
      a(href='/apps/{{ slug }}')
        section.app-logo
          .vertical-align
          img(src='{{ logo }}', title='{{ name }}')
      section.app-detail
        header
          h1: a(href='/apps/{{ slug }}')='{{ name }}'
          h2='{{ country }}'
        p.description='{{ description }}'
        p.working-at='{{ workingAt }}'
      footer
        .twitter.pull-left
          a(href='http://twitter.com/{{ twitter }}' target='_blank')='@{{ twitter }}'
        .license.pull-right='Lic: {{ license }}'
  | {{/applications}}